@import 'tailwindcss';
@import '@plug/ui/styles';
@source "../../../packages/ui";

/* Hide scrollbars cross-browser using a Tailwind utility */
@layer utilities {
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}